body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}

h1 {
    color: white;
    font-size: 3em;
}

.painel {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5);
}

.input {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.storage {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 300px;
    align-items: flex-start;
    border: solid 1px;
    border-color: gainsboro;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    margin: 25px;
    overflow-y: scroll;
}

.calc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.med {
    display: flex;
    gap: 4px;
}